In [4]:
import yfinance as yf

In [7]:
apple = yf.Ticker('aapl')
apple_info = apple.history(interval='60m', period='1mo')

apple_info

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Datetime,,,,,,,
2025-05-27 09:30:00-04:00,198.300003,199.169998,197.429993,198.350006,13343197,0.0,0.0
2025-05-27 10:30:00-04:00,198.360001,199.369995,198.009995,199.365005,6877187,0.0,0.0
2025-05-27 11:30:00-04:00,199.360001,200.580002,199.000000,199.994995,6493372,0.0,0.0
2025-05-27 12:30:00-04:00,199.990005,200.649994,199.669998,199.959900,4788957,0.0,0.0
2025-05-27 13:30:00-04:00,199.955002,200.740005,199.809998,200.369995,4199118,0.0,0.0
...,...,...,...,...,...,...,...
2025-06-24 11:30:00-04:00,201.460007,202.565002,201.240005,202.449997,4724128,0.0,0.0
2025-06-24 12:30:00-04:00,202.451508,203.440002,201.940002,201.960007,6930517,0.0,0.0
2025-06-24 13:30:00-04:00,201.960007,202.330002,201.309998,201.570007,4599071,0.0,0.0
2025-06-24 14:30:00-04:00,201.580002,202.014999,201.304993,201.529999,5015277,0.0,0.0
2025-06-24 15:30:00-04:00,201.535004,201.599899,200.270004,200.289993,7488205,0.0,0.0

In [32]:
apple_info.loc['2025-05-27 09:30:00-04:00']

Open            1.983000e+02
High            1.991700e+02
Low             1.974300e+02
Close           1.983500e+02
Volume          1.334320e+07
Dividends       0.000000e+00
Stock Splits    0.000000e+00
Name: 2025-05-27 09:30:00-04:00, dtype: float64

In [ ]:
index0 = apple_info.index[0].replace(tzinfo=None)

str(index0)

'2025-05-27 09:30:00'

In [37]:
type(apple_info.index[0])

pandas._libs.tslibs.timestamps.Timestamp

In [41]:
import pandas as pd

time = pd._libs.tslibs.timestamps.Timestamp('1985-01-01 00:00:00-0500', tz='America/New_York')

In [48]:
Timestamp = (pd._libs.tslibs.timestamps.Timestamp('1985-01-01 00:00:00-0500', tz='America/New_York'), pd._libs.tslibs.timestamps.Timestamp('2025-06-01 00:00:00-0400', tz='America/New_York'))

cleanDate = []
for date in Timestamp:
    cleanDate.append(str(date.replace(tzinfo=None)))

print(cleanDate)

['1985-01-01 00:00:00', '2025-06-01 00:00:00']